.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: #241a01;
    border-radius: 5px;
    cursor: pointer;
    border-width: 1px;
    border: solid #704f0b;
    text-decoration: none;
    transition: background-color 0.3s ease;
    -webkit-text-fill-color: antiquewhite;
  }
  
  .button:hover {
    background-color: #553801;
  }
  
  .image {
    width: 18%;
    height: 100%;
    width: 32px;
    height: 32px;          
    margin: 0 8px 0 0;
  }
  
  .text {
    display: block;
  }
  