.counter {
    background-color: #2c1906;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 150px;
  }
  
  .h2 {
    font-size: 18px;
    color: #faf9f9;
    margin-bottom: 10px;
  }
  
  .number {
    font-size: 48px;
    font-weight: bold;
    color: #837472;
  }  